.passwordPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
        margin-top: 20px;
        text-align: center;
        opacity: 0.7;
        // line-height: 150%;

        // > span {
        //     font-size: 32px;
        //     font-weight: 700;
        // }
    }

    .logoImage {
        width: 175px;
    }

    .inputPanel {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}