.ModalTransactionStatus {
  min-height: 400px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statusMessage {
  text-align: center;
}

.title {
  margin-top: 12px;
  color: #1f8feb;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

// Error|Success
.icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;

  img {
    width: 60px;
    height: 60px;
    max-width: 100%;
  }

  &.redColor {
    transform: rotate(45deg);
    background-color: #ff6767;
  }
}

.button {
  margin-top: 20px;
}

.table {
  margin: 16px 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  padding: 16px;
  font-size: 16px;
  column-gap: 20px;
  max-height: 150px;
  overflow-x: visible;
  overflow-y: auto;
}

.tableRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 5px;

  .label {
    color: #1F8FEB;
    margin-bottom: 5px;
  }

  .value {
    font-weight: 300;
    line-height: 1.2;

    span {
      display: block;
      word-break: break-all;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

