@use "sass:math";

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: math.div(21, 18);
  color: #1F8FEB;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.sendForm {
  display: grid;
  row-gap: 16px;
  padding-bottom: 20px;
}
