@use "sass:math";

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: math.div(21, 18);
  color: #1F8FEB;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.sendForm {
  display: grid;
  row-gap: 16px;
  padding-bottom: 20px;
}

// =========================================================
.transactionContent {
  min-height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(0, -30px);
}

.transactionIcon {
  width: 130px;
  height: 130px;
  margin: 0 auto 8px auto;
  img {
    max-width: 100%;
  }
}

.transactionText {
  text-align: center;
  font-size: 18px;
  line-height: math.div(21, 18);
  color: #1F8FEB;
}