.Loader {
  animation: rotate 1s infinite linear;
  width: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 124px;
  img {
    max-width: 100%;
  }
  &.small {
    width: 40px;
    height: 40px;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}