@use "sass:math";

.tabs {
   position: relative;
   background: #0F2055;
   border-radius: 24px 24px 0 0;
   margin: 0 -16px;
   min-height: 57.8%;
   padding: 16px 16px 30px 16px;
}

// =========================================================
.tabsNav {
   margin-bottom: 16px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 20px;
}

.tabsNavBtn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: capitalize;
   line-height: math.div(21, 18);
   text-align: center;
   font-weight: 600;
   height: 45px;
   &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      transition: background-color 0.2s ease 0s;
   }
   &[disabled] {
      &::after {
         background-color: #1F8FEB;
      }
   }
}

// =========================================================
// Old code for assets
/*.asset {
   position: relative;
   border-radius: 16px;
   overflow: hidden;
   background-color: rgba(31, 143, 235, 0.15);
   transition: background-color 0.2s ease 0s;
   &:hover {
      background-color: rgba(31, 143, 235, 0.3);
   }
   &:not(:last-child) {
      margin-bottom: 8px;
   }
}

.assetBody {
   padding: 16px;
   width: 100%;
   text-align: left;
}

.assetRemoveBtn {
   position: absolute;
   z-index: 2;
   top: 8px;
   right: 8px;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   padding: 5px;
   background-color: transparent;
   color: #ffffff;
   opacity: 0.5;
   transition: all 0.2s ease 0s;
   &:hover {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.1);
   }
}

.assetTitle {
   display: flex;
   align-items: center;
   column-gap: 8px;
   font-size: 24px;
   font-weight: 600;
   line-height: math.div(28, 24);
   svg {
      width: 24px;
      height: 24px;
      flex: 0 0 24px;
   }
   margin-bottom: 12px;
}

.assetInfo {
   display: grid;
   grid-template-columns: 56% 44%;
   column-gap: 20px;
   line-height: math.div(21, 18);
}

.assetInfoLabel {
   color: #1F8FEB;
   margin-bottom: 4px;
}

.assetInfoValue {
   font-weight: 600;
}*/

