@use "sass:math";
@import "src/app/styles/variables";

.wallet {
  display: grid;
  grid-template-columns: 1fr 25px;
  background: radial-gradient(100% 188.88% at 0% 0%, #16d1d6 0%, #274cff 100%);
  border-radius: 16px;
  padding: 16px 16px 10px 16px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.actionsWallet {
  display: grid;
  row-gap: 2px;

}

// =========================================================
.infoWallet {
  display: grid;
  row-gap: 5px;
}

.infoBalance {
  align-self: center;
  font-weight: 600;
  font-size: 32px;
  line-height: math.div(38, 32);
  .percentСhange {
    color: #ffcbcb;
    font-size: 18px;
    font-weight: 400;
    line-height: math.div(21, 18);
    padding-left: 6px;
  }
}

.infoAddress {
  display: flex;
  column-gap: 20px;
  align-items: center;
  max-width: 256px;
  span {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: math.div(17, 14);
    opacity: 0.5;
  }
}

// =========================================================
.alias {

}

.aliasCreateBtn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 0 16px;
  line-height: 32px;
  transition: background-color 0.1s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}