@use "sass:math";
@import "src/app/styles/variables";

.wallet {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.dotsButton {
  transform: translate(25%, 0);
}

// =========================================================
.infoWallet {
  background: radial-gradient(100% 188.88% at 0% 0%, #16d1d6 0%, #274cff 100%);
  border-radius: 16px;
  padding: 16px 16px 10px 16px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.infoTop {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  margin-bottom: 8px;
  line-height: math.div(21.5, 18);
}

.infoWalletStatus {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  width: 10px;
  height: 10px;
  &:hover {
    .status {
      opacity: 1;
      visibility: visible;
    }
  }
}

.infoBalance {
  font-weight: 600;
  font-size: 32px;
  line-height: math.div(38, 32);
  margin-bottom: 0px;
  .percentСhange {
    color: #ffcbcb;
    font-size: 18px;
    font-weight: 400;
    line-height: math.div(21, 18);
    padding-left: 6px;
  }
}

.infoAddress {
  display: flex;
  column-gap: 20px;
  align-items: center;
  span {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: math.div(17, 14);
    opacity: 0.5;
  }
  .copyButton {
    transform: translate(25%, 0);
  }
}

// =========================================================
.actionsWallet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
}

.actionsButton {
  background: #0c0c3a;
  border: 2px solid #1f8feb;
  border-radius: 16px;
  height: 57px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  font-size: 21px;
  line-height: math.div(25, 21);
  transition: background-color 0.2s ease 0s;
  img {
    flex: 0 0 20px;
  }
  &:hover {
    background-color: #24244e;
  }
}
