@use "sass:math";
@import "src/styles/variables";

.header {
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   width: 360px;
   height: 56px;
   background: #0F2055;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   display: grid;
   grid-template-columns: auto 1fr auto;
   align-items: center;
   column-gap: 30px;
   padding: 0 15px;
   text-align: center;

}

.headerInfo {
   color: $blueColor;
   display: flex;
   justify-content: center;
   align-items: center;
}

.lockButton {
   display: flex;
   column-gap: 6px;
   justify-content: center;
   align-items: center;
   border: 2px solid #1F8FEB;
   border-radius: 8px;
   color: #ffffff;
   height: 47px;
   width: 100%;
   transition: background-color 0.2s ease 0s;
   svg {
      font-size: 15px;
   }
   &:hover {
      background-color: rgba(255, 255, 255, 0.05);
   }
}

// =========================================================
.burger {
   display: flex;
   justify-content: center;
   align-items: center;
   color: $blueColor;
}

// =========================================================
.menu {
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: calc(100% + 290px);
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.46);
      animation: show-menu-bg 0.2s ease;
   }
   @keyframes show-menu-bg {
      0% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }
}

.menuBody {
   padding: 18px 16px;
   width: 290px;
   height: 100%;
   z-index: 2;
   display: flex;
   flex-direction: column;
   background: #11316B;
   animation: show-burger-menu 0.2s ease;
   @keyframes show-burger-menu {
      0% {
         transform: translate(-100%, 0);
      }
      100% {
         transform: translate(0px, 0px);
      }
   }
}

.menuHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 22px;
   color: #1f8feb;
   margin-bottom: 35px;
}

.menuLinks {
   flex: 1 1 auto;
}

.menuLink {
   display: flex;
   column-gap: 8px;
   align-items: center;
   text-align: left;
   height: 50px;
   font-weight: 600;
   opacity: 0.7;
   transition: opacity 0.2s ease 0s;
   font-size: 20px;
   svg {
      width: 24px;
      flex: 0 0 24px;
   }
   &:nth-child(1) {
      svg {
         font-size: 18px;
      }
   }
   &:nth-child(2) {
      svg {
         font-size: 22px;
      }
   }
   &:hover {
      opacity: 1;
   }
}


