@use "sass:math";
@import "src/app/styles/variables";

.clipboardModal {
  position: fixed;
  z-index: 100;
  top: 45px;
  left: 0;
  width: $appWidth;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show-modal 3.1s ease;
  span {
    background-color: #16d1d6;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 16px;
    height: 40px;
    padding: 0 16px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.2;
  }
  @keyframes show-modal {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translate(0, -50%);
    }
    5% {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
    90% {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}